.main-inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

#question-img {
  max-height: 75vh;
  padding: 0 6em;
  filter: brightness(0%);
}

#question-img.level-2 {
  filter: brightness(0%) blur(15px);
}

#question-img.reveal-op {
  transition: all .3s;
  filter: brightness(100%) blur(0);
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1em;
}

#answer-input {
  height: 3.5ch;
  font-size: 2em;
  flex: 1;

  text-align: center;
  max-width: 760px;
  border: none;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.171);

  z-index: 20;
}

#answer-input:disabled {
  box-shadow: none;
}

h3 {
  color: #a8a8a8;
  position: absolute;
  font-size: 34em;
  z-index: -2;
}